/* I put these in the same order the page cascades to its not */

/* 
for the sizing i took 100% = full page of chat-container which is filles width/height of the full-screen
then I divided it into % giving 
10% - navbar
10% info bar
80% chatroom
--> this equls 100% of the space
then I took the 80% of the chatroom and cut it into 85% for the chatlog
and 15% for the form
which is 100% of 80% of the the whole page */

.chat-container {
  position: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background-color: red;
}

/* I've changed the navbar to its own css since we will have logic in there */
/* .nav-panel {
  display: inherit;
  height: 100%;
  width: 325px;
  border: 1px solid black;
} */

.info-bar {
  height: 10%;
  background-color: green;
}

.chatroom {
  display: inherit;
  flex-direction: column;
  height: 80%;
}

.chat-log {
  display: inherit;
  flex-direction: column;
  height: 85%;
  width: inherit;
  overflow-y: scroll;
  overflow-y: auto;
  background-color: pink;
}

.message-form-container {
  border-top: 2px solid black;
  display: flex;
  height: 15%;
  background-color: purple;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 5px 5px;
  border: none;
  border-radius: 0;
  width: 80%;
  height: 100%;
  font-size: 1em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* for some reason button only fills  with 103%?? i made sure it had not padding/margin?? wtf */
.input-button {
  width: 20%;
  height: 103%;
  padding: 0%;
  border: 0;
  background-color: sandybrown;
}

/* // something is going on with the .chat-container ( the container that hold this whole page.. for some reason 100vh on mobile goes out of view.... not sure why...this is for iphone 11 pro) I didnt want to keep playing around with it but below is the solution somewhere */

@media only screen and (max-device-width: 450px) {
  .chat-container {
    height: 72vh;
  }
}

/* you can check this link there is some good stuff */
/* https://stackoverflow.com/questions/26144773/height-100-on-html-body-is-not-working-on-iphone */

/* possible solution code */
/* https://gist.github.com/pburtchaell/e702f441ba9b3f76f587 */

/* // this react component 
https://www.google.com/search?q=react-div-100vh&oq=react-div-100vh&aqs=chrome..69i57.275j0j7&sourceid=chrome&ie=UTF-8 */
