/* I put these in the same order the page cascades to its not */

/* Also you onlu need to import the css on the parent component so just at the chat container */

/* 
for the sizing i took 100% = full page of chat-container which is filles width/height of the full-screen
then I divided it into % giving 
10% - navbar
10% info bar
80% chatroom
--> this equls 100% of the space
then I took the 80% of the chatroom and cut it into 85% for the chatlog
and 15% for the form
which is 100% of 80% of the the whole page */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 95vw;
  margin-top: 40px;
  margin-left: 40px;
}

.info-bar {
  height: 5%;
  text-align: center;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.chatroom {
  display: inherit;
  flex-direction: column;
  border-radius: 5px;
  border-bottom: 2px solid black;
}

.test-container {
  display: inherit;
  flex-direction: column;
  height: 85%;
  border-bottom: 2px solid black;
  border-end-end-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.chat-log {
  display: inherit;
  flex-direction: column;
  width: inherit;
  height: 700px;
  overflow-y: scroll;
  overflow-y: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.message-form-container {
  border-top: 1.5px dashed black;
  display: flex;
  height: 5%;
  border-end-end-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 5px 5px;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* for some reason button only fills  with 103%?? i made sure it had not padding/margin?? wtf */
.input-button {
  width: 20%;
  height: 103%;
  padding: 0%;
  border: 0;
  background-color: sandybrown;
}

/* // something is going on with the .chat-container ( the container that hold this whole page.. for some reason 100vh on mobile goes out of view.... not sure why...this is for iphone 11 pro) I didnt want to keep playing around with it but below is the solution somewhere */

@media only screen and (max-device-width: 450px) {
  .chat-container {
    height: 72vh;
  }
}

@media (prefers-color-scheme: light) {
  input[type="text"] {
    background-color: #FFFFFF;
    color: #0B1114;
  }
}

@media (prefers-color-scheme: dark) {
  input[type="text"] {
    background-color: #1B1E2B;
    color: #CCCCCC;
  }
}
/* you can check this link there is some good stuff */
/* https://stackoverflow.com/questions/26144773/height-100-on-html-body-is-not-working-on-iphone */

/* possible solution code */
/* https://gist.github.com/pburtchaell/e702f441ba9b3f76f587 */

/* // this react component 
https://www.google.com/search?q=react-div-100vh&oq=react-div-100vh&aqs=chrome..69i57.275j0j7&sourceid=chrome&ie=UTF-8 */

/* Scroll bar */
/* width */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #312a2a; 
}