.about-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 95vw;
    margin-top: 40px;
    margin-left: 40px;
}

.about {
    display: inherit;
    flex-direction: column;
    text-align: center;
    height: 750px;
    border-radius: 20px;
    border-bottom: 2px solid black;
}