.welcome-page-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.body-section {
  padding: 1vh;
  padding-top: 40vh;
  padding-left: 35vh;
}

.styled-link {
  text-decoration: none;
}

.form-link {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .welcome-page-container {
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}

@media (prefers-color-scheme: dark) {
  .styled-link {
    color: #CCCCCC;
  }
}

@media (prefers-color-scheme: light) {
  .styled-link {
    color: #0B1114;
  }
}
