.navbar {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: yellow;
}

/* @media only screen and (max-device-width: 450px) {
  .navbar {
    height: 7%;
  }
} */
